<div class="jumbotron">
  <h1 class="display-4">Kotkot Piješ !!</h1>
  <p class="lead">Tato karta bola  tipovana <strong><%= @resp.counter %></strong> krat</p>
  <hr class="my-4">
  <p>Postedne bola tipovana <%= l @resp.used_at %></p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="<%= root_path %>" role="button">Pokracovat</a>
  </p>
</div>
